@font-face {
  font-family: 'myFont';
  src: url("./ChenYuluoyan-Thin.ttf") format("truetype");
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-family: 'myFont', arial,
    "Microsoft JhengHei",
    "微軟正黑體",
    sans-serif;

  hr {
    width: 85vw;
    height: 1px;
    border: none;
    background-color: red;

  }
}

.container {
  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;

    font-size: 3.6rem;
  }

  font-size: 2.0rem;

  width: 100vw;
  background-color: rgb(243, 238, 238);

  .box {
    width: 100%;
    padding: 5%;

    .box_right {
      float: right;
      display: flex;
      justify-content: right;
      align-items: flex-end;
    }

    .box_left {
      float: left;
      display: flex;
      position: relative;
      flex-direction: column-reverse;
    }
  }
}

.box_m {
  width: 100%;
  padding: 8%;
}

.box_s {
  width: 100%;
  padding: 0 13%;
}

.page {
  width: 100%;
}

.line_height {
  line-height: 2.0rem;

  @media (min-width: 768px) {
    line-height: 3.6rem;
  }
}

.photo_text_box {
  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  .center_text {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom_right {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-40%, -60%);
  }
}

.box3_1 {
  display: flex;
  margin-top: 5%;
}

.box3_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 53%;
}

.box4_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.text_right {
  text-align: right;
}

.text3_1 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;

  @media screen and (max-width: 375px) {
    font-size: 1.8rem;
  }
}

.text5_1 {
  padding: 0 5%;
  margin-top: -3%;
}

.text5_2 {
  padding: 0 5%;
  text-align: right;
  margin-bottom: -3%;
}

.text6_1 {
  padding: 0 8%;
  text-align: right;
  margin-bottom: -6%;
}

.pic1_1 {
  width: 88%;
  position: relative;
  z-index: 2;
  margin-top: -15px;
  float: right;

  @media (min-width: 768px) {
    margin-top: -30px;
  }
}

.pic1_3 {
  position: relative;
  right: -30%;

  @media (min-width: 768px) {
    right: -35%;
  }
}

.pic2_1 {
  position: relative;
  height: 80%;
  margin-bottom: 10%;
}

.pic3_1 {
  position: relative;
  width: 85%;
  margin-bottom: 10%;
}

.pic5_1 {
  position: absolute;
  right: -50%;
  top: -5%;
}

.pic5_2 {
  position: absolute;
  left: -45%;
  bottom: -10%;
  transform: scale(0.8) rotateY(180deg);
}

.pic6 {
  position: absolute;
  left: -30%;
  bottom: 15%;
}

.pic7_1 {
  position: absolute;
  right: -45%;
  top: -3%;
  transform: scale(0.8) rotate(55deg);
}

.pic7_2 {
  position: absolute;
  left: -30%;
  bottom: -10%;
  transform: scale(0.8) rotate(175deg);
}

.pic10_1_1 {
  position: absolute;
  top: -13%;
  left: -30%;
  transform: scale(0.5);
}

.pic10_1_2 {
  position: absolute;
  bottom: 15%;
  right: -25%;
  transform: scale(0.5) rotateY(180deg);
}

.pic10_1_3 {
  position: absolute;
  bottom: -10%;
  left: -50%;
  transform: scale(0.5);
}

.pic11_1 {
  position: absolute;
  bottom: -35%;
  right: -65%;
  transform: scale(0.5) translate(-50%, -50%);
}

.photo2 {
  width: 83%;
  object-fit: contain;
  position: absolute;
  right: 5%;
}

.photo4 {
  width: 93%;
  object-fit: contain;
  position: absolute;
  right: 0;
}

.width_30 {
  width: 30%;
}

.width_40 {
  width: 40%;
}

.width_45 {
  width: 45%;
}

.width_50 {
  width: 50%;
}

.width_55 {
  width: 55%;
}

.width_60 {
  width: 60%;
}

.width_70 {
  width: 70%;
}

.width_80 {
  width: 80%;
}

.width_90 {
  width: 90%;
}

.width_100 {
  width: 100%;
}

.display_flex {
  display: flex;
}

.text_align_left {
  text-align: left;
}

.text_align_center {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text_align_center_bottom {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: end;
}

.middle {
  margin: 0 auto;
}

.margin_auto {
  margin: auto;
}

.margin_right_3 {
  margin-right: 3%;
}

.margin_top_minus5 {
  margin-top: -5%;
}

.margin_top_minus13 {
  margin-top: -13%;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_35 {
  margin-top: 35px;
}

.margin_top_45 {
  margin-top: 45px;
}

.flex_row_reverse {
  flex-direction: row-reverse;
}

.flex_column {
  flex-direction: column;
}

.test_area {
  border: 5px solid red;
}

.z_1 {
  position: relative;
  z-index: 1;
}

.relative {
  position: relative;
}

.overflow_hidden {
  overflow: hidden;
}

.padding_5 {
  padding: 5% 0;
}

// ---------- For Youtube start ---------- //
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 80%;
  margin: 0 auto;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// ---------- For Youtube end ---------- //

.input_block {
  width: 70%;
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  input {
    width: 100%;
    padding: 5px;
    font-size: 1.3rem;
    border: 2px solid #888;
    border-radius: 1rem;
    margin-right: 10px;

    @media (min-width: 768px) {
      font-size: 3rem;
      padding: 10px;
    }

    @media (max-width: 374px) {
      font-size: 1rem;
    }
  }

  .search_button {
    width: auto;
    height: auto;
    transform: scaleX(-1);
    padding: 5px;
    border: 2px solid #888;
    border-radius: 1rem;
    background-color: #fff;
    color: #e3c1b8;
    font-size: 1.3rem;

    @media (min-width: 768px) {
      font-size: 3rem;
      padding: 10px;
    }

    @media (max-width: 374px) {
      font-size: 1rem;
    }
  }
}

.hidden {
  display: none;
}

.cdk_overlay_container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.cdk_overlay_wrapper {
  width: 100%;
  height: 100%;
  padding: 35px 0;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.cdk_overlay_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
}

.cdk_overlay_popup {
  position: relative;
  box-sizing: border-box;
  z-index: 1000;
  display: inline-block;
  padding: 15px 0;
  text-align: left;
  vertical-align: middle;

  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }
}

.answer {
  width: 70%;
  height: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.closeBtn {
  // border: 2px solid red;
  width: 4.55vw;
  height: 4.55vw;
  position: absolute;
  top: 4.5vw;
  right: 16%;

  @media (min-width: 768px) {
    width: 35px;
    height: 35px;
    top: 35px;
    right: 124px;
  }
}